.dynamic-tokinvest-logo .tokinvest-anim-line {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: drawTokinvestLine 1.2s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes drawTokinvestLine {
  0% {
    stroke-dashoffset: 100;
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  60% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.2;
  }
} 